streamlit>=1.32.0
pandas>=2.0.0
requests>=2.31.0
plotly>=5.18.0
streamlit-extras>=0.3.6
streamlit-option-menu>=0.3.12
streamlit-lottie>=0.0.5
streamlit-card>=0.0.5
extra-streamlit-components>=0.1.60
annotated-types>=0.6.0
streamlit-authenticator>=0.3.1
